.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-align-center {
  justify-content: center;
}

.flex-align-left {
  justify-content: flex-start;
}

.flex-align-right {
  justify-content: flex-end;
}

.flex-between {
  justify-content: space-between;
}
